.main-footer {
  color: darkgray;
  background-color: black;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.copy {
  padding-left: 15px;
}

.logo {
  text-align: center;
  margin-left: 15px;
}

.footerLinks {
  text-decoration: none;
  list-style: none;
}

.footerLinks li {
  text-align: right;
  list-style: none;
  margin-right: 15px;
}